username =input('Enter User Name')
password = ""
attempt = 0
flag = 0
while(attempt!=3):
  password = input("Enter Password")
  if(password=="Rossiya"):
    flag = 1
    break
  else:
    attempt=attempt+1
    if(attempt==3):
      print ("You Have Tried The Maximum Amount Of Time To Enter A Password")
      quit() 
if(flag==1):
  print ("Welcome - Guess The Song", username)
#This part of my code is allowing authorised users to enter the game. This does not allow other users into my game. It gives three attempts before not letting someone access the game.

import random
Song = 'Song Name:'
sname=['Reseaux Niska', 'Sale Niska', 'Ah Bon? Niska', 'Story X Niska', 'Amour X Niska','Tuba Life Niska', 'La Wewer Niska', 'Favelas Niska', 'Bella Maitre Gims',  'Sapes Comme Jamain Maitre Gims', 'Corazon Maitre Gims', 'Cameleon Maitre Gims', 'Est-Ce Que Tu M aimes Maitre Gims', 'Oulala Maitre Gims', 'Laissez Passer Maitre Gims', 'Tout Donner Maitre Gims', 'La Meme Maitre Gims', 'Je Te Pardonne Maitre Gims', 'Loin Maitre Gims', 'Mi GNA Maitre Gims', 'Fuegolando Maitre Gims','T es Partie Maitre Gims','Bonita Maitre Gims', 'Ou Aller Maitre Gims','Entre Nous C est Mort Maitre Gims','Sur Ma Route Black M','Genesis MMZ','Bubble MMZ','Loin Des Etoiles MMZ','Tout Pour Le Gang MMZ','Bulma MMZ', 'Ma Bulle MMZ', 'Comme Dans Un Reve MMZ']  

game_song = random.choice(sname)
print ((game_song)[:1 :1])

def guess_song(song, score):
  for guesscount in range(4):
    if guessscount == 2:
      print("Too Many Guesses LEAVE!")
      break

    guess = input("Guess: {} " .format(gusscount+1))

    if not guess:
      print("Are You Broken?")
      continue

    if guess == sname:
      if guesscount == 0:
        print("Well Done You Were Correct!")

        score += 1

      break

    else:
      print("WRONG JUST LEAVE!")
      continue

  return score

def _name_():
 if _name_ == "_main_":
   final_score = guess_song(song, 0)
   print("final score {}:" .format(final_score))
